* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(97, 83, 83);
}
header,
footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background: #d299c2;
}
.section-1 {
  height: 100vh;
  background: rgb(63, 41, 41);
  /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: rgb(135, 207, 235);
}
.section-1 p {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.to-top {
  padding: 1.2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  background: white;
  border: black solid 2px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.section-2 {
  height: 100vh;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  position: relative;
  overflow: hidden;
}
.paper-plane {
  height: 15vh;
  position: absolute;
  top: 50%;
  left: 0%;
}
.text-swipe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  mix-blend-mode: darken;
}
.text-to-swipe {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.t-swipe {
  background: linear-gradient(to top, #dc2f66 0%, #a8edea 100%);
}
span {
  color: rgb(56, 135, 135);
  z-index: 1;
}
